.bg0 {
  background: linear-gradient(
    209.21deg,
    rgb(179, 19, 49) 13.57%,
    rgb(209, 91, 88) 98.38%
  );
}
.bg0:hover {
  box-shadow: rgb(209 91 88 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg1 {
  background: linear-gradient(
    209.21deg,
    rgb(29, 19, 36) 13.57%,
    rgb(0, 35, 124) 98.38%
  );
}
.bg1:hover {
  box-shadow: rgb(0 35 124 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg2 {
  background: linear-gradient(
    209.21deg,
    rgb(23, 23, 27) 13.57%,
    rgb(119, 63, 211) 98.38%
  );
}
.bg2:hover {
  box-shadow: rgb(31 21 53 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg3 {
  background: linear-gradient(
    209.21deg,
    rgb(76, 55, 109) 13.57%,
    rgb(31, 21, 53) 98.38%
  );
}
.bg3:hover {
  box-shadow: rgb(31 21 53 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg4 {
  background: linear-gradient(
    209.21deg,
    rgb(153, 40, 52) 13.57%,
    rgb(255, 114, 98) 98.38%
  );
}

.bg4:hover {
  box-shadow: rgb(255 114 98 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg5 {
  background: linear-gradient(
    209.21deg,
    rgb(233, 109, 44) 13.57%,
    rgb(239, 77, 77) 98.38%
  );
}
.bg5:hover {
  box-shadow: rgb(239 77 77 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg6 {
  background: linear-gradient(
    209.21deg,
    rgb(50, 150, 255) 13.57%,
    rgb(68, 23, 219) 98.38%
  );
}
.bg6:hover {
  box-shadow: rgb(68 23 219 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg7 {
  background: linear-gradient(
    209.21deg,
    rgb(29, 32, 38) 13.57%,
    rgb(47, 35, 84) 98.38%
  );
}
.bg7:hover {
  box-shadow: rgb(47 35 84 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}
.bg8 {
  background: linear-gradient(
    209.21deg,
    rgb(215, 65, 101) 13.57%,
    rgb(215, 81, 65) 98.38%
  );
}
.bg8:hover {
  box-shadow: rgb(215 81 65 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg9 {
  background: linear-gradient(
    209.21deg,
    rgb(15, 20, 57) 13.57%,
    rgb(0, 91, 157) 98.38%
  );
}

.bg9:hover {
  box-shadow: rgb(0 91 157 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg10 {
  background: linear-gradient(
    209.21deg,
    rgb(0, 175, 214) 13.57%,
    rgb(55, 1, 123) 98.38%
  );
}
.bg10:hover {
  box-shadow: rgb(55 1 123 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg11 {
  background: linear-gradient(
    209.21deg,
    rgb(8, 86, 142) 13.57%,
    rgb(0, 24, 85) 98.38%
  );
}
.bg11:hover {
  box-shadow: rgb(0 24 85 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg12 {
  background: linear-gradient(
    209.21deg,
    rgb(253, 173, 0) 13.57%,
    rgb(233, 109, 44) 98.38%
  );
}
.bg12:hover {
  box-shadow: rgb(233 109 44 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg13 {
  background: linear-gradient(
    209.21deg,
    rgb(0, 91, 157) 13.57%,
    rgb(15, 20, 57) 98.38%
  );
  box-shadow: rgb(15 20 57 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}
.bg12:hover {
  box-shadow: rgb(233 109 44 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg14 {
  background: linear-gradient(
    209.21deg,
    rgb(29, 145, 252) 13.57%,
    rgb(90, 54, 192) 98.38%
  );
  box-shadow: rgb(90 54 192 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}
.bg12:hover {
  box-shadow: rgb(233 109 44 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg15 {
  background: linear-gradient(
    209.21deg,
    rgb(255, 114, 98) 13.57%,
    rgb(153, 40, 52) 98.38%
  );
}
.bg15:hover {
  box-shadow: rgb(153 40 52 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg16 {
  background: linear-gradient(
    209.21deg,
    rgb(136, 0, 148) 13.57%,
    rgb(81, 77, 255) 98.38%
  );
}
.bg16:hover {
  box-shadow: rgb(81 77 255 / 30%) 0px 20px 80px, rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg17 {
  background: linear-gradient(
    209.21deg,
    rgb(101, 187, 118) 13.57%,
    rgb(70, 111, 171) 98.38%
  );
}
.bg17:hover {
  box-shadow: rgb(70 111 171 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg18 {
  background: linear-gradient(
    209.21deg,
    rgb(242, 136, 133) 13.57%,
    rgb(233, 79, 102) 98.38%
  );
}
.bg18:hover {
  box-shadow: rgb(233 79 102 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg19 {
  background: linear-gradient(
    209.21deg,
    rgb(142, 0, 0) 13.57%,
    rgb(255, 158, 211) 98.38%
  );
}
.bg19:hover {
  box-shadow: rgb(255 158 211 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}

.bg20 {
  background: linear-gradient(
    209.21deg,
    rgb(32, 0, 177) 13.57%,
    rgb(195, 79, 250) 98.38%
  );
}
.bg20:hover {
  box-shadow: rgb(195 79 250 / 30%) 0px 20px 80px,
    rgb(0 0 0 / 15%) 0px 20px 40px;
}