html.dark {
  --bg-color: rgb(33, 33, 33);
  --text-color: #fff;
  --btn-text-color: #fff;
  --card-bg: transparent;
  --btn-gradient: linear-gradient(180deg, #000 0%, #787878 100%);
  --liner-gradient: linear-gradient(180deg, #000 0%, #787878 100%);
  --theme-box-bg: #f2f6ff;
  --theme-border: 1px solid rgba(255, 255, 255, 0.5);
  --el-color-danger: #ff0000;
  --el-bg-color-overlay: rgb(33, 33, 33);
  --text-color-777: #b4b4b4;
  --text-color-444: #eee;
  --overlay-color: rgba(0, 0, 0, 0);

  .Alltemplate_boxs {
    position: relative;
    color: #fff;
  }

  .btn.btn-light-success {
    color: #1bc5bd;
    background-color: rgba(27, 197, 189, 0.1);
    border-color: transparent;
  }
  .btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled) {
    color: #ffffff;
    background-color: #1bc5bd;
    border-color: transparent;
  }
  .btn:hover:not(.btn-text) {
    transition: color 0.15s ease, background-color 0.15s ease,
      border-color 0.15s ease, box-shadow 0.15s ease,
      -webkit-box-shadow 0.15s ease;
  }
}
