/* popper box */
.el-popper.tabsPopover {
  border-radius: 0.625rem;
  border: 1px solid #757a9b !important;
  background-color: rgba(22, 27, 36, 0.85) !important;
  box-shadow: 0 0 4px #7e81ff !important;
  color: #cfd3dc;
}

.popoverBox {
  overflow: hidden;

  .popoverBox_item {
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
  }

  .popoverBox_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 100%;
    padding: 0.75rem 0;
    background-image: url("@/assets/left.png");
    background-size: 70% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .popoverBox_item:hover {
    padding-left: 3px;
    transform: translateX(30px);
  }
}

.tabsPopover.el-popper.is-light .el-popper__arrow::before {
  border: 1px solid #7e81ff;
  background-color: rgb(22, 27, 36) !important;
}

// .el-overlay-message-box {
//   width: 100%;
//   -webkit-backdrop-filter: blur(20px) saturate(100%);
//   backdrop-filter: blur(20px) saturate(100%);
//   .el-message-box {
//     border: none;
//     position: relative;
//     width: 750px;
//     border-radius: 28px;
//     height: 260px;
//     transform: translateY(-50%);
//     padding: 20px;
//     background: #cbcbd51a;
//     background: rgba(255,255,255,0.6);
//     box-shadow: inset 0 0 0 0.5px hsl(0deg 0% 100% / 30%);
//     -webkit-backdrop-filter: blur(40px);
//     backdrop-filter: blur(40px);
//     color: #000;
//     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
//       rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
//       rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
//   }
//   .el-message-box__content,
//   .el-message-box__title {
//     color: #000;
//   }
//   .el-message-box__btns {
//     position: absolute;
//     width: 90%;
//     bottom: 40px;
//     .el-button {
//       // background: transparent;
//       // color: #fff;
//       border-radius: 20px;
//       border: 1px solid #ccc;
//     }
//     .el-button--primary {
//       background: #737ebc;
//       border: 1px solid #737ebc;
//     }
//   }
//   .el-message-box__close {
//     font-size: 18px;
//     color: #000;
//   }
//   .el-message-box__headerbtn:focus .el-message-box__close,
//   .el-message-box__headerbtn:hover .el-message-box__close {
//     font-size: 18px;
//     color: #fff;
//     font-weight: bolder;
//   }
// }
.el-message-box {
  // background: rgba(255, 255, 255, 0.6);
  background: var(--bg-color);

  border-radius: 16px;

  .el-message-box__title {
    color: var(--text-color);
  }

  .el-message-box__headerbtn {
    .el-message-box__close {
      color: var(--text-color);
    }
  }

  .el-message-box__message {
    color: var(--text-color);
  }

  .el-message-box__btns {
    .el-button {
      width: unset;
      height: 30px;
      background: #f2f6ff;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }
    .el-button--primary {
      background: var(--btn-gradient);
    }
  }
}
// .homeBoxHeader-left,
// .formBox {
//   .el-input {
//     .el-input__wrapper,
//     .el-range-editor.el-input__wrapper {
//       background: linear-gradient(
//         rgba(99, 106, 150, 0.4) 0%,
//         rgba(182, 186, 214, 0.25) 100%
//       );
//       border-radius: 30px;
//       box-shadow: rgb(0 0 0 / 15%) 0px 20px 40px,
//         rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
//       box-sizing: border-box;
//       height: 44px;
//       line-height: 44px;

//       font-style: normal;
//       font-weight: normal;
//       font-size: 16px;
//       line-height: 130%;
//       transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
//     }

//     .el-input__inner {
//       color: #fff;
//     }
//   }

//   .el-input__wrapper.is-focus {
//     outline: none;
//     box-shadow: rgb(47 184 255 / 30%) 0px 10px 40px,
//       rgb(47 184 255) 0px 0px 0px 1px inset;
//     background: linear-gradient(
//       rgba(24, 32, 79, 0.4) 0%,
//       rgba(24, 32, 79, 0.25) 100%
//     );
//   }

//   .el-range-editor.el-input__wrapper {
//     background: linear-gradient(
//       rgba(99, 106, 150, 0.4) 0%,
//       rgba(182, 186, 214, 0.25) 100%
//     );
//     border-radius: 30px;
//     box-shadow: rgb(0 0 0 / 15%) 0px 20px 40px,
//       rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
//     box-sizing: border-box;
//     height: 44px;
//     line-height: 44px;

//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 130%;
//     transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
//   }

//   .el-icon {
//     width: 23px;
//   }

//   .el-icon svg {
//     width: 25px;
//     height: 25px;
//   }

//   .el-range-editor.is-active {
//     outline: none;
//     box-shadow: rgb(47 184 255 / 30%) 0px 10px 40px,
//       rgb(47 184 255) 0px 0px 0px 1px inset;
//     background: linear-gradient(
//       rgba(24, 32, 79, 0.4) 0%,
//       rgba(24, 32, 79, 0.25) 100%
//     );
//   }
// }

/* */
.el-popper.custom_dropdown {
  border-radius: 16px !important;

  .el-scrollbar {
    border-radius: inherit;

    .el-dropdown-menu {
      padding: 0 !important;
    }

    .el-dropdown-menu__item {
      justify-content: center;
      height: 45px !important;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .el-popper__arrow {
    display: none;
  }
}

.el-button {
  width: 165px;
  height: 56px;
  border-radius: 16px;
  // color: $light_blue;
  font-size: 20px;
  &.el-button--primary {
    // background: $light_blue;
    // color: #fff;
    --el-button-hover-bg-color: #{$light_blue};
  }
  &.is-disabled {
    background-color: #d8d8d8;
    border: none;
    &:hover {
      background-color: #d8d8d8;
    }
  }
}

.el-input__wrapper {
  height: 48px;
  font-size: 22px;
  color: #777;
  background: #f2f2f2;
  border-radius: 26px;
}
.el-tabs {
  .el-tabs__active-bar {
    background: #000;
  }
  .el-tabs__item {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #777;
    &.is-active {
      color: #000;
    }
  }
}
.el-table {
  font-size: 20px;
  background: var(--card-bg);
  tr {
    background: var(--card-bg);
  }

  .el-table__inner-wrapper::before {
    z-index: 1;
    background-color: #c0c0c0;
  }
  .el-table__cell {
    border-bottom: 1px solid #c0c0c0 !important;
  }
  .cell {
    color: #000;
    min-height: 40px;
    line-height: 40px;
  }
}
.el-popper {
  border-radius: 16px;
  .el-scrollbar {
    border-radius: inherit;
    .el-dropdown-menu {
      // background: rgb(242, 246, 255);
      padding: 0;
    }
    .el-dropdown-menu__item {
      justify-content: center;
      height: 35px;
      font-size: 16px;
      font-weight: 700;
      // color: #000;
      // & + .el-dropdown-menu__item {
      //   border-top: 1px solid #e5e7eb;
      // }
    }
  }
  .el-popper__arrow {
    display: none;
  }
}
.el-overlay {
  background-color: var(--overlay-color);
}

.el-dialog {
  z-index: 99999;
  padding: 32px;
  border-radius: 30px;
  // background:@blue_gradient;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.6);

  header,
  > div,
  footer {
    padding: 0;
  }

  .el-dialog__header {
    text-align: left;

    .el-dialog__title {
      font-size: 26px;
      color: #000;
      font-weight: 700;
    }

    .el-dialog__headerbtn {
      right: 16px;
      top: 16px;

      .el-icon {
        color: #000;
        font-weight: 700;
        font-size: 28px;
      }
    }
  }

  .el-dialog__body {
    text-align: left;
  }

  .el-input__wrapper {
    border: 1px solid rgb(153 153 153);
    border-radius: 16px;
    background: transparent !important;

    .el-input__suffix-inner {
      span {
        font-size: 24px;
      }
    }

    .el-input__inner {
      color: #000;
      --el-input-placeholder-color: #727272;
    }
  }
}
