html.light {
  --el-menu-bg-color: #e1e1e1;

  --bg-color: #f2f6ff;
  --text-color: #000;
  --btn-text-color: #fff;
  --btn-gradient: linear-gradient(
    180deg,
    #{$light_blue} 0%,
    rgb(158, 236, 217) 100%
  );
  --liner-gradient: linear-gradient(180deg, #3913b8 0%, #75e0e6 100%);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;

  --card-bg: #f2f6ff;
  --theme-border: none;
  --theme-box-bg: #000;
  --el-color-danger: #ff0000;
  --el-button-hover-bg-color: #{$light_blue};
  --text-color-777: #777;
  --text-color-444: #444;
  --overlay-color: rgba(0, 0, 0, 0.4);
  --dialog-gradient-bg: linear-gradient(180deg, #e5f3ff 0%, #93baee 100%);

  .Alltemplate_boxs {
    position: relative;
    color: #000;

    .main_header {
      width: 100%;
      background: url("@/assets/bg1.jpg") no-repeat;
      height: 100%;
      min-height: 100vh;
      background-size: cover;
      width: calc(100vw - 237px);
      min-width: 1440px;
      background-attachment: fixed;
      padding-top: 80px;
      overflow: hidden;
    }
  }
  .timeLine_Box .details {
    background-color: rgb(127, 182, 213);

    box-shadow: rgb(39 77 153 / 20%) 0px 30px 60px,
      rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
    cursor: pointer;
    backdrop-filter: blur(20px);
  }

  .common-layout {
    position: absolute;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    // top: -100px;
    display: block;
    z-index: 0;
  }
  .common-layout,
  .common-layout > div {
    animation-play-state: paused;
  }
  .common-layout > div {
    box-shadow: none;
    filter: none;
    width: 500px;
    height: 500px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }

  .common-layout > div:first-child {
    left: 30%;
    position: absolute;
    top: 150px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      rgba(47, 184, 255, 0.42) 31.77%,
      rgb(158, 236, 217) 100%
    );
    z-index: -1;
    mix-blend-mode: color-dodge;
    animation: 25s ease 0s infinite alternate none running izRuqW;
  }

  .common-layout > div:first-child:hover {
    filter: blur(30px);
    box-shadow: rgb(255 255 255 / 60%) 0px 0px 0px 0.5px inset,
      rgb(250 112 154) 100px 100px 0px 0px inset,
      rgb(120 75 160) 200px 200px 0px 0px inset,
      rgb(43 134 197) 300px 300px 0px 0px inset;
    width: 520px;
    height: 520px;
  }
  .common-layout > div:last-child {
    left: 30%;
    position: absolute;
    top: 150px;
    left: 200px;
    width: 500px;
    height: 500px;
    z-index: -1;
    background: linear-gradient(
      rgba(186, 117, 255, 0.49) 26.56%,
      rgb(57, 19, 184) 100%
    );
    mix-blend-mode: color-dodge;
    animation: 30s ease 0s infinite alternate none running gXnKAO;
  }
  .common-layout > div:last-child:hover {
    filter: blur(30px);
    box-shadow: rgb(255 255 255 / 60%) 0px 0px 0px 0.5px inset,
      rgb(250 112 154) 100px 100px 0px 0px inset,
      rgb(120 75 160) 200px 200px 0px 0px inset,
      rgb(43 134 197) 300px 300px 0px 0px inset;
    width: 520px;
    height: 520px;
  }

  .el-drawer {
    background: rgba(203, 203, 213, 0.1019607843);
    backdrop-filter: blur(40px);
    color: #fff;
    border-radius: 20px 0 0 0;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
      rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
      rgb(0 0 0 / 9%) 0px -3px 5px;
  }

  .BoxContent_header {
    color: var(--el-border-color);
  }

  .btn.btn-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5;
    border-color: transparent;
  }
  .btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled) {
    color: #ffffff;
    background-color: #1bc5bd;
    border-color: transparent;
  }
  .btn:hover:not(.btn-text) {
    transition: color 0.15s ease, background-color 0.15s ease,
      border-color 0.15s ease, box-shadow 0.15s ease,
      -webkit-box-shadow 0.15s ease;
  }
}
