@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
/* 
button {
  @include border-radius(10px);
}
*/
@mixin card-box() {
  padding: 20px 40px;
  box-sizing: border-box;

  box-shadow: var(--box-shadow);
  border: var(--theme-border);
  border-radius: 20px;
  color: var(--text-color);
}
