$fontColor: #03040a;
$activeColor: #5f4fd5; //#ff9b3d

.order_boxs {
  // background-image: url("../../assets/myood/orderBG.png");
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  width: 100%;
  height: calc(100vh - 180px);
  padding: 20px 7%;
  box-sizing: border-box;
  // width: 86%;
  margin: 0 auto;
  // padding: 20px;
  // color: #ff9b3d;
  color: $fontColor;
  overflow-y: scroll;
  background-size: cover;
  background-position: center;
  // height: 100vh;
  position: relative;
  // z-index: 1;

  .loginUser {
    color: $fontColor;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .el-button--warning {
    // background-image: linear-gradient(to right, #736de3 0%, #6caed9 100%);
    // background: -webkit-linear-gradient(left, #9190dd, #0f337c);
    // background: #5f4fd5;
    // color: #e8eaf7;
    // color: rgba(255, 255, 255, 0.7);
    // border-color: #dad7d1;
    border: none;
  }

  .el-button--primary {
    // background: rgba(143, 108, 231, 0.8);
    // background: -webkit-linear-gradient(left, #9190dd, #0f337c);
    // background: #5f4fd5;
    // color: rgba(255, 255, 255, 0.7);
    // margin-bottom: 20px;
    border: none;
  }
}
